@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400,600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

.home-header {
    background: no-repeat left top / cover url("../images/new-banner-header@2x.jpg");
    height: 450px;
    padding: 30px 20px;
}

.logo {
    height: auto;
    width: 200px;
    padding: 10px;
}

nav {
    margin-top: 10px;
}

#menu {
    padding: 5px;
    list-style: none;
}

#menu li {
    float: left;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #fbfcfd;

}

#menu a.selected {
    color: #df4739;
}

#menu a:hover {
    color: #df4739;
}

#header-text {
    padding: 50px 0px;
}
#header-text h4{
    font-family: 'Quicksand', sans-serif;
    color: #df4739;
    font-size: 20px;
    font-weight: 500;
}

#header-text h2 {
    font-family: 'Quicksand', sans-serif;
    color: #fbfcfd;
    font-size: 40px;
    font-weight: 400;
    line-height: 42px;
}

.pill-button {
    text-decoration: none;
    margin-top: 36px;
    padding: 7px 15px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: #022230;
    color: #fbfcfd;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
}

/* award banner */

.award-banner {
    display: flex;
    text-decoration: none;
    padding: 7px 15px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 80%;
    margin: 36px auto 0;
    height: 100px;
    border:none;
    box-shadow: 2.1px 9.8px 8.6px 0.5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}


 .navy  {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #022230;
}

.orange {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #df4739;
}

footer {
    background-color: #022230;
}

.start-project-bg {
    background: no-repeat center bottom / cover url("../images/footer-bg-image@2x.webp");
    height: 300px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    align-items: center;
}

.start-project-bg h2 {
    text-decoration: none;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #fbfcfd;
    line-height: 30px;
    margin-bottom: 20px;
}

.start-project-bg h3 {
    text-decoration: none;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fbfcfd;

}

.start-project-bg .pill-button {
    text-decoration: none;
    padding: 7px 15px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: #df4739;
    color: #fbfcfd;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    width: 100px;
}
@media (min-width: 800px) {
    .logo-nav {
        display: flex;
        align-items: center;
    }
    #menu {
        list-style: none;
    }
    nav{
        margin-top: 0;
        flex-grow: 1;
        display: flex;
        justify-content: end;
    }
    #header-text {
        width: 300px;
    }
    .logo {
        width: 180px;
    }

    .start-project-bg {
        height: 459px; 
        padding: 0 0 40px 0;
    }
    .start-project-bg h3 {
        max-width: 500px;
        margin: 0 auto;   
    }

}



@media (min-width: 1140px) {
    .container {
        max-width: 1060px;
        margin: 0 auto;
    }
    .logo {
        width: 217px;
    }
    #menu a {
        font-size: 20px;
    }
    .home-header{
        height: 783px;
    }
    #header-text {
        width: 480px;
        margin-top: 115px;
    }
    #header-text h2 {
        font-size: 48px;
        line-height: 52px;
    }
}